<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box {
      width: 200px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 2px 2px 2px #ccc;
    }
  </style>
</head>
<body>
  <!--
    v-show：
      作用：控制元素显示隐藏
      语法：v-show="表达式"，表达式为true显示，false隐藏
      原理：切换 css 的 display: none 来控制显示隐藏
      场景：频繁切换显示隐藏的场景
    v-if：
      作用：控制元素显示隐藏
      语法：v-if="表达式"，表达式为true显示，false隐藏
      原理：根据判断条件控制元素的创建和移除（条件渲染）
      场景：要么显示要么隐藏，不频繁切换
  -->
  <div id="app">
    <div v-show="flag" class="box">我是v-show控制的盒子</div>
    <div v-if="flag" class="box">我是v-if控制的盒子</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        flag: true
      }
    })
  </script>
</body>
</html>