<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
  <!-- 
    v-for指令的作用：基于数据循环，多次渲染整个元素(数组，对象，数字...)
    语法：
      ① v-for="(item, index) in 数组"
      ② v-for="item in 数组"
  -->

  <div id="app">
    <ul>
      <li v-for="item in list">{{ item }}</li>
    </ul>

    <ul>
      <li v-for="(item, index) in list">{{ item }} -- {{ index }}</li>
    </ul>

  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        list: ["苹果", "香蕉", "西瓜"]
      }
    })
  </script>
</body>
</html>